.single-team-member {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #eeeeee;
    align-items: center !important;
    margin: {
        bottom: 30px;
    };
    .member-image {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
        position: relative;
        
        img {
            border-radius: 3px;
        }
        .social {
            position: absolute;
            left: 0;
            right: 0;
            text-align: center;
            margin: 0 auto;
            bottom: 0;
            list-style-type: none;
            padding-left: 0;
            margin-bottom: 0;
            opacity: 0;
            visibility: hidden;
            transition: var(--transition);

            li {
                display: inline-block;

                a {
                    margin: 0 2px;
                    display: inline-block;

                    i {
                        display: inline-block;
                        width: 35px;
                        height: 35px;
                        line-height: 35px;
                        border-radius: 50%;
                        background-color: var(--blackColor);
                        color: var(--whiteColor);
                        font-size: 15px;
                        transition: var(--transition);

                        &.bxl-facebook {
                            background: #3b5998;
                        }
                        &.bxl-linkedin {
                            background: #0077b5;
                        }
                        &:hover {
                            background-color: var(--primaryColor1);
                            color: var(--whiteColor);
                        }
                    }
                }
            }
        }
    }
    .member-content {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
        padding: {
            left: 23px;
            right: 23px;
        };
        h3 {
            margin-bottom: 0;
            font: {
                size: 22px;
                weight: 700;
            };
        }
        span {
            display: block;
            color: var(--primaryColor1);
            margin-top: 10px;
            font: {
                size: 14px;
                weight: 600;
            };
        }
        p {
            font-size: 14px;
            line-height: 1.9;
            margin: {
                bottom: 0;
                top: 12px;
            };
        }
    }
    &:hover {
        .member-image {
            .social {
                bottom: 15px;
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .single-team-member {
        text-align: center;

        .member-image {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .member-content {
            flex: 0 0 100%;
            max-width: 100%;
            margin-top: 20px;

            h3 {
                font-size: 22px;
            }
            span {
                font-size: 13px;
            }
            p {
                font-size: 13.5px;
                margin-top: 10px;
                margin-bottom: 17px;
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}