.main-banner {
    position: relative;
    z-index: 1;
    padding: {
        top: 300px;
        bottom: 250px;
    };
    background: {
        color: var(--blackColor);
        position: center center;
        size: cover;
        repeat: no-repeat;
    };
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: var(--blackColor);
        opacity: .30;
    }
}
.main-banner-content {
    max-width: 1050px;
    text-align: center;
    margin: {
        left: auto;
        right: auto;
    };
    h1 {
        margin-bottom: 0;
        color: var(--whiteColor);
        font: {
            size: 70px;
            weight: 700;
        };
    }
}
.main-search-wrap {
    background-color: var(--whiteColor);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 15px 20px;
    margin-top: 40px;

    form {
        position: relative;
        padding-right: 165px;

        .form-group {
            margin-bottom: 0;
            position: relative;

            label {
                z-index: 1;
                display: block;
                margin-bottom: 0;
                position: absolute;
                left: 0;
                color: var(--primaryColor1);
                font-size: 22px;
                top: 6px;

                a {
                    display: block;
                    color: var(--primaryColor1);
                }
            }
            input {
                width: 100%;
                border: none;
                display: block;
                padding: 0 0 0 28px;
                background-color: var(--whiteColor);
                border-right: 1px solid #eeeeee;
                height: 45px;
                border-radius: 0;
                color: var(--blackColor);
                font: {
                    size: 14.5px;
                };
                &::placeholder {
                    transition: var(--transition);
                    color: #7d7d7d;
                }
                &:focus {
                    &::placeholder {
                        color: transparent;
                    }
                }
            }
            .form-select {
                cursor: pointer;
                color: var(--blackColor);
                padding: 0 0 0 29px;
                height: 44px;
                border-right: 1px solid #eeeeee !important;
                font: {
                    size: 14.5px;
                };
            }
        }
        .main-search-btn {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            max-width: 140px;

            button {
                display: block;
                background-color: var(--primaryColor1);
                color: var(--whiteColor);
                border: none;
                padding: 13px 55px 13px 25px;
                text-align: start;
                border-radius: 30px;
                transition: var(--transition);
                position: relative;
                text-transform: uppercase;
                font: {
                    size: 14.5px;
                    family: var(--fontFamily2);
                    weight: 600;
                };
                i {
                    position: absolute;
                    right: 25px;
                    top: 50%;
                    transform: translateY(-50%) rotate(0);
                    font-size: 20px;
                    transition: var(--transition);
                }
                &:hover {
                    background-color: var(--primaryColor2);
                    color: var(--whiteColor);

                    i {
                        transform: translateY(-50%) rotate(80deg);
                    }
                }
            }
        }
    }
}
.main-categories-box {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    overflow: hidden;
    bottom: -70px;
    max-width: 620px;
    margin: {
        left: auto;
        right: auto;
    };
    ul {
        padding-left: 0;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        margin: {
            left: -5px;
            right: -5px;
            bottom: 0;
        };
        li {
            display: block;
            flex: 0 0 20%;
            max-width: 20%;
            padding: {
                left: 5px;
                right: 5px;
            };
            a {
                display: block;
                text-transform: uppercase;
                font: {
                    size: var(--fontSize);
                    weight: 700;
                    family: var(--fontFamily2);
                };
                .icon {
                    display: block;
                    width: 75px;
                    height: 75px;
                    border-radius: 50%;
                    line-height: 70px;
                    font-size: 30px;
                    color: var(--primaryColor1);
                    transition: var(--transition);
                    background-color: var(--whiteColor);
                    border: 5px dotted rgba(2, 128, 194, .35);
                    margin: {
                        left: auto;
                        right: auto;
                        bottom: 15px;
                    };
                }
                &:hover {
                    .icon {
                        background-color: var(--primaryColor1);
                        color: var(--whiteColor);
                        border-color: var(--primaryColor1);
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .main-banner {
        padding: {
            top: 300px;
            bottom: 120px;
        };
    }
    .main-banner-content {
        max-width: 100%;
        margin: {
            left: 0;
            right: 0;
        };
        h1 {
            font-size: 35px;
        }
    }
    .main-search-wrap {
        box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.2);
        border-radius: 0;
        padding: 15px;
        margin-top: 30px;

        form {
            padding-right: 0;
            text-align: center;

            .form-group {
                label {
                    font-size: 17px;
                    top: 8px;
                }
                input {
                    padding: 0 0 0 25px;
                    height: 40px;
                    font-size: 13.5px;
                    border-right: none;
                }
                .form-select {
                    padding: 0 0 0 25px;
                    height: 40px;
                    font-size: 13.5px;
                    border-right: none !important;
                }
            }
            .main-search-btn {
                position: relative;
                top: 0;
                transform: translateY(0);
                border-top: 1px solid #eeeeee;
                padding-top: 15px;
                margin-top: 8px;
                max-width: 100%;
                
                button {
                    display: block;
                    width: 100%;
                    font-size: 13.5px;
                }
            }
        }
    }
    .main-categories-box {
        max-width: 290px;
        bottom: -150px;

        ul {
            margin-bottom: -10px;

            li {
                flex: 0 0 33.333333%;
                max-width: 33.333333%;
                padding-bottom: 10px;

                a {
                    font-size: 13.5px;

                    .icon {
                        width: 55px;
                        height: 55px;
                        line-height: 53px;
                        font-size: 25px;
                        border-width: 3px;
                        margin-bottom: 12px;
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    .main-banner {
        padding-top: 260px;
    }
    .main-search-wrap {
        padding: 25px;
    }
    
}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .main-banner {
        padding: {
            top: 300px;
            bottom: 170px;
        };
    }
    .main-banner-content {
        max-width: 640px;
        margin: {
            left: auto;
            right: auto;
        };
        h1 {
            font-size: 50px;
        }
    }
    .main-search-wrap {
        form {
            padding-right: 0;
            text-align: center;

            .main-search-btn {
                position: relative;
                top: 0;
                transform: translateY(0);
                max-width: 100%;
                margin-top: 0;
                border-top: 1px solid #eeeeee;
                padding-top: 15px;

                button {
                    display: inline-block;
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .main-banner {
        padding-bottom: 240px;
    }
    .main-banner-content {
        max-width: 850px;

        h1 {
            font-size: 55px;
        }
    }
    
}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}