<div class="db-recent-bookings-box">
    <h3>
        Recent Bookings
    </h3>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Customer</th>
                    <th>Booking Date</th>
                    <th>Payment Type</th>
                    <th>Status</th>
                    <th>View Invoice</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td class="name"><img src="images/dashboard/user1.jpg" alt="image"> Atony Rony</td>
                    <td>12 April 2025</td>
                    <td>Paypal</td>
                    <td><span class="badge badge-primary">Booked</span></td>
                    <td><button type="submit">View</button></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td class="name"><img src="images/dashboard/user2.jpg" alt="image"> Tom Hardy</td>
                    <td>11 April 2025</td>
                    <td>Credit</td>
                    <td><span class="badge badge-success">Pending</span></td>
                    <td><button type="submit">View</button></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td class="name"><img src="images/dashboard/user3.jpg" alt="image"> Colin Firth</td>
                    <td>10 April 2025</td>
                    <td>Paypal</td>
                    <td><span class="badge badge-primary">Booked</span></td>
                    <td><button type="submit">View</button></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td class="name"><img src="images/dashboard/user4.jpg" alt="image"> Jude Law</td>
                    <td>09 April 2025</td>
                    <td>Paypal</td>
                    <td><span class="badge badge-success">Pending</span></td>
                    <td><button type="submit">View</button></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td class="name"><img src="images/dashboard/user5.jpg" alt="image"> Idris Elba</td>
                    <td>08 April 2025</td>
                    <td>Credit</td>
                    <td><span class="badge badge-primary">Booked</span></td>
                    <td><button type="submit">View</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>