<div class="instagram-area">
    <div class="container-fluid">
        <div class="instagram-title">
            <a href="https://www.instagram.com/" target="_blank">
                <i class='bx bxl-instagram'></i> Follow us on &#64;louise
            </a>
        </div>
        <div class="instagram-slides">
            <owl-carousel-o [options]="instagramSlides">
                <ng-template carouselSlide>
                    <div class="single-instagram-post">
                        <img src="images/instagram/img1.jpg" alt="image">
                        <i class='bx bxl-instagram'></i>
                        <a href="https://www.instagram.com/" target="_blank" class="link-btn"></a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-instagram-post">
                        <img src="images/instagram/img2.jpg" alt="image">
                        <i class='bx bxl-instagram'></i>
                        <a href="https://www.instagram.com/" target="_blank" class="link-btn"></a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-instagram-post">
                        <img src="images/instagram/img3.jpg" alt="image">
                        <i class='bx bxl-instagram'></i>
                        <a href="https://www.instagram.com/" target="_blank" class="link-btn"></a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-instagram-post">
                        <img src="images/instagram/img4.jpg" alt="image">
                        <i class='bx bxl-instagram'></i>
                        <a href="https://www.instagram.com/" target="_blank" class="link-btn"></a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-instagram-post">
                        <img src="images/instagram/img10.jpg" alt="image">
                        <i class='bx bxl-instagram'></i>
                        <a href="https://www.instagram.com/" target="_blank" class="link-btn"></a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-instagram-post">
                        <img src="images/instagram/img6.jpg" alt="image">
                        <i class='bx bxl-instagram'></i>
                        <a href="https://www.instagram.com/" target="_blank" class="link-btn"></a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-instagram-post">
                        <img src="images/instagram/img7.jpg" alt="image">
                        <i class='bx bxl-instagram'></i>
                        <a href="https://www.instagram.com/" target="_blank" class="link-btn"></a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-instagram-post">
                        <img src="images/instagram/img8.jpg" alt="image">
                        <i class='bx bxl-instagram'></i>
                        <a href="https://www.instagram.com/" target="_blank" class="link-btn"></a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-instagram-post">
                        <img src="images/instagram/img9.jpg" alt="image">
                        <i class='bx bxl-instagram'></i>
                        <a href="https://www.instagram.com/" target="_blank" class="link-btn"></a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-instagram-post">
                        <img src="images/instagram/img5.jpg" alt="image">
                        <i class='bx bxl-instagram'></i>
                        <a href="https://www.instagram.com/" target="_blank" class="link-btn"></a>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>