<div
    class="process-area ptb-100"
    style="background-image: url(images/white-bg.jpg);"
>
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Aşamalar</span>
            <h2>Nasıl Çalışır</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-process-box">
                    <div class="icon">
                        <i class="flaticon-tap"></i>
                    </div>
                    <div class="content">
                        <h3>Üye olun / Giriş yapın</h3>
                        <p>Sistemimize kayıt olun veya giriş yapın.</p>
                        <div class="number">1</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-process-box">
                    <div class="icon">
                        <i class="flaticon-find"></i>
                    </div>
                    <div class="content">
                        <h3>İstediğinizi Bulun</h3>
                        <p>İstediğiniz topluluğu veya etkinliği bulun.</p>
                        <div class="number">2</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-process-box">
                    <div class="icon">
                        <i class="flaticon-explore"></i>
                    </div>
                    <div class="content">
                        <h3>Başvurun</h3>
                        <p>Başvurunuzu yapın ve topluluğa katılın.</p>
                        <div class="number">3</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-sm-12 col-md-12">
                <div class="process-arrow-icon">
                    <img src="images/arrow.png" alt="image">
                </div>
            </div>
        </div>
    </div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>
