<div class="db-welcome-area">
    <div class="row m-0 align-items-center">
        <div class="col-lg-5 col-md-12 p-0">
            <div class="welcome-content">
                <h1 class="mb-2">
                    Hi, Welcome Admin!
                </h1>
                <p class="mb-0">
                    Just Do Somethings Better
                </p>
            </div>
        </div>
        <div class="col-lg-7 col-md-12 p-0">
            <div class="welcome-img">
                <img src="images/dashboard/welcome-img.png" alt="image">
            </div>
        </div>
    </div>
</div>