<div class="main-banner banner-bg1" style="background-image: url(images/titles/uni-1.png);">
  <div class="container">
    <div class="main-banner-content">
      <h1>
        Üniversite Destek ve Danışmanlık Platformuna Hoş Geldiniz
      </h1>
      <!-- <div class="main-search-wrap">
        <form>
          <div class="row">
            <div class="col-lg-4 col-md-12">
              <div class="form-group">
                <label><i class='bx bxs-keyboard'></i></label>
                <input type="text" placeholder="Whar are you looking for?">
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="form-group">
                <label><a routerLink="."><i class='bx bx-current-location'></i></a></label>
                <input type="text" placeholder="Location">
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="form-group">
                <label><i class='bx bx-slider'></i></label>
                <select class="form-select shadow-none border-0">
                  <option>All Categories</option>
                  <option>Shops</option>
                  <option>Hotels</option>
                  <option>Restaurants</option>
                  <option>Fitness</option>
                  <option>Events</option>
                  <option>Services</option>
                  <option>Other</option>
                </select>
              </div>
            </div>
          </div>
          <div class="main-search-btn">
            <button type="submit">
              Search <i class='bx bx-search-alt'></i>
            </button>
          </div>
        </form>
      </div> -->
    </div>
  </div>
  <div class="main-categories-box">
    <ul>
      <li>
        <a routerLink="/communities">
          <span class="icon">
            <i class='bx bx-user'></i>
          </span>
          Topluluklar
        </a>
      </li>
      <li>
        <a routerLink="/events">
          <span class="icon">
            <i class='bx bx-party'></i>
          </span>
          Etkinlikler
        </a>
      </li>
      <li>
        <a routerLink="/developers">
          <span class="icon">
            <i class='bx bx-code-alt'></i>
          </span>
          Geliştiriciler
        </a>
      </li>
      <li>
        <a routerLink="/announcements">
          <span class="icon">
            <i class='bx bx-bell'></i>
          </span>
          Duyurular
        </a>
      </li>
      <li>
        <a routerLink="/opportunities">
          <span class="icon">
            <i class='bx bx-star'></i>
          </span>
          Fırsatlar
        </a>
      </li>
    </ul>
  </div>
</div>
