<aside class="widget-area">
    <div class="widget widget_search">
        <form class="search-form">
            <label>
                <span class="screen-reader-text">Search for:</span>
                <input type="search" class="search-field" placeholder="Search...">
            </label>
            <button type="submit"><i class="bx bx-search-alt"></i></button>
        </form>
    </div>
    <div class="widget widget_louise_posts_thumb">
        <h3 class="widget-title">Güncel Duyurular</h3>
        <article class="item">
            <a routerLink="/blog-details" class="thumb">
                <span class="fullimage cover" role="img" style="background-image: url(images/blog/img7.jpg);"></span>
            </a>
            <div class="info">
                <span>Haziran 10, 2025</span>
                <h4 class="title usmall"><a routerLink="/blog-details">Ultimate Bali Guide + Where to stay in Bali 2025</a></h4>
            </div>
            <div class="clear"></div>
        </article>
        <article class="item">
            <a routerLink="/blog-details" class="thumb">
                <span class="fullimage cover" role="img" style="background-image: url(images/blog/img8.jpg);"></span>
            </a>
            <div class="info">
                <span>Aralık 21, 2025</span>
                <h4 class="title usmall"><a routerLink="/blog-details">Live the Island life: 20 unique Islands to visit in 2025</a></h4>
            </div>
            <div class="clear"></div>
        </article>
        <article class="item">
            <a routerLink="/blog-details" class="thumb">
                <span class="fullimage cover" role="img" style="background-image: url(images/blog/img5.jpg);"></span>
            </a>
            <div class="info">
                <span>June 30, 2025</span>
                <h4 class="title usmall"><a routerLink="/blog-details">Best Places to Visit in Europe this Autumn & Winter</a></h4>
            </div>
            <div class="clear"></div>
        </article>
    </div>
    <div class="widget widget_categories">
        <h3 class="widget-title">Kategoriler</h3>
        <ul>
            <li><a routerLink="/blog-grid">Tasarım <span class="post-count">(03)</span></a></li>
            <li><a routerLink="/blog-grid">Yazılım <span class="post-count">(05)</span></a></li>
            <li><a routerLink="/blog-grid">Spor <span class="post-count">(10)</span></a></li>
            <li><a routerLink="/blog-grid">Tiyatro <span class="post-count">(08)</span></a></li>
            <li><a routerLink="/blog-grid">Yoga <span class="post-count">(02)</span></a></li>
            <li><a routerLink="/blog-grid">Müze <span class="post-count">(09)</span></a></li>
            <li><a routerLink="/blog-grid">Dans <span class="post-count">(10)</span></a></li>
        </ul>
    </div>
    <div class="widget widget_tag_cloud">
        <h3 class="widget-title">Etiketler</h3>
        <div class="tagcloud">
            <a routerLink="/blog-grid">Eğlence <span class="tag-link-count"> (3)</span></a>
            <a routerLink="/blog-grid">Tasarım <span class="tag-link-count"> (3)</span></a>
            <a routerLink="/blog-grid">Yazılım <span class="tag-link-count"> (2)</span></a>
            <a routerLink="/blog-grid">Müzik <span class="tag-link-count"> (2)</span></a>
            <a routerLink="/blog-grid">Spor <span class="tag-link-count"> (1)</span></a>
            <a routerLink="/blog-grid">Gelişim <span class="tag-link-count"> (1)</span></a>
            <a routerLink="/blog-grid">Pazarlama <span class="tag-link-count"> (1)</span></a>
            <a routerLink="/blog-grid">İpuçları <span class="tag-link-count"> (2)</span></a>
        </div>
    </div>
    <div class="widget widget_instagram">
        <h3 class="widget-title">Instagram</h3>
        <ul>
            <li>
                <a href="https://www.instagram.com/p/DRWr7KBiMwB/?img_index=1" class="d-block" target="_blank">
                    <img src="images/blog/img1.jpg" alt="image">
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/p/DRUp7hxiCPn/?img_index=1" class="d-block" target="_blank">
                    <img src="images/blog/img2.jpg" alt="image">
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/p/DRRwKwGCHX6/?img_index=1" class="d-block" target="_blank">
                    <img src="images/blog/img3.jpg" alt="image">
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/p/DRPL1QkiOUS/?img_index=1" class="d-block" target="_blank">
                    <img src="images/blog/img4.jpg" alt="image">
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/p/DRMdQUDiEaU/?img_index=1" class="d-block" target="_blank">
                    <img src="images/blog/img5.jpg" alt="image">
                </a>
            </li>
        </ul>
    </div>
    <div class="widget widget_contact" style="background-image: url(images/main-banner1.jpg);">
        <div class="text">
            <div class="icon">
                <i class='bx bx-phone-call'></i>
            </div>
            <span>Acil Destek Hattı</span>
            <a href="tel:+0903125517000">03125517000</a>
        </div>
    </div>
</aside>