<!-- Breadcrumb -->
<div class="db-breadcrumb-area">
    <h1>
        Bookings
    </h1>
    <ol class="breadcrumb">
        <li class="item">
            <a routerLink="/dashboard">
                <i class='bx bx-home-alt'></i>
            </a>
        </li>
        <li class="item">
            Dashboard
        </li>
        <li class="item">
            Bookings
        </li>
    </ol>
</div>

<!-- Bookings -->
<div class="db-bookings-box">
    <h3>
        Bookings List
    </h3>
    <div class="inner-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Customer</th>
                        <th>Details</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="name">
                            <img src="images/dashboard/user1.jpg" class="shadow" alt="image">
                            <span>James Anderson</span>
                        </td>
                        <td class="details">
                            <h5>Farmis Garden Hotel & Restaurant</h5>
                            <ul>
                                <li>
                                    <span><i class='bx bx-map'></i> Address:</span>
                                    40 Journal Square, NG USA
                                </li>
                                <li>
                                    <span><i class='bx bx-map'></i> Booking Date:</span>
                                    20/05/2020
                                </li>
                                <li>
                                    <span><i class='bx bx-map'></i> Price:</span>
                                    $1500
                                </li>
                                <li>
                                    <span><i class='bx bx-map'></i> Persons:</span>
                                    4 Peoples
                                </li>
                                <li>
                                    <span><i class='bx bx-map'></i> Phone:</span>
                                    <a routerLink=".">+214 4455 6521</a>
                                </li>
                                <li>
                                    <span><i class='bx bx-map'></i> Email:</span>
                                    <a routerLink=".">jamesanderson&#64;gmail.com</a>
                                </li>
                                <li>
                                    <span><i class='bx bx-map'></i> Payment State:</span>
                                    <strong>Paid</strong> using Paypal
                                </li>
                            </ul>
                        </td>
                        <td>
                            <a routerLink="." class="btn btn-md btn-primary">Approve</a>
                            <a routerLink="." class="btn btn-md btn-danger ms-3">Reject</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="name">
                            <img src="images/dashboard/user2.jpg" class="shadow" alt="image">
                            <span>Alina Smith</span>
                        </td>
                        <td class="details">
                            <h5>Skyview Shopping Complex Center</h5>
                            <ul>
                                <li>
                                    <span><i class='bx bx-map'></i> Address:</span>
                                    55 County Laois, Ireland
                                </li>
                                <li>
                                    <span><i class='bx bx-map'></i> Booking Date:</span>
                                    19/05/2020
                                </li>
                                <li>
                                    <span><i class='bx bx-map'></i> Price:</span>
                                    $200
                                </li>
                                <li>
                                    <span><i class='bx bx-map'></i> Persons:</span>
                                    3 Peoples
                                </li>
                                <li>
                                    <span><i class='bx bx-map'></i> Phone:</span>
                                    <a routerLink=".">+214 4455 6521</a>
                                </li>
                                <li>
                                    <span><i class='bx bx-map'></i> Email:</span>
                                    <a routerLink=".">alinasmith&#64;gmail.com</a>
                                </li>
                                <li>
                                    <span><i class='bx bx-map'></i> Payment State:</span>
                                    <strong>Paid</strong> using Paypal
                                </li>
                            </ul>
                        </td>
                        <td>
                            <a routerLink="." class="btn btn-md btn-primary">Approve</a>
                            <a routerLink="." class="btn btn-md btn-danger ms-3">Reject</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="name">
                            <img src="images/dashboard/user3.jpg" class="shadow" alt="image">
                            <span>James Andy</span>
                        </td>
                        <td class="details">
                            <h5>Power House Gym Training Center</h5>
                            <ul>
                                <li>
                                    <span><i class='bx bx-map'></i> Address:</span>
                                    Tilt Tilbury, United Kingdom
                                </li>
                                <li>
                                    <span><i class='bx bx-map'></i> Booking Date:</span>
                                    18/05/2020
                                </li>
                                <li>
                                    <span><i class='bx bx-map'></i> Price:</span>
                                    $214
                                </li>
                                <li>
                                    <span><i class='bx bx-map'></i> Persons:</span>
                                    5 Peoples
                                </li>
                                <li>
                                    <span><i class='bx bx-map'></i> Phone:</span>
                                    <a routerLink=".">+214 4455 6521</a>
                                </li>
                                <li>
                                    <span><i class='bx bx-map'></i> Email:</span>
                                    <a routerLink=".">jamesandy&#64;gmail.com</a>
                                </li>
                                <li>
                                    <span><i class='bx bx-map'></i> Payment State:</span>
                                    <strong>Paid</strong> using Paypal
                                </li>
                            </ul>
                        </td>
                        <td>
                            <a routerLink="." class="btn btn-md btn-primary">Approve</a>
                            <a routerLink="." class="btn btn-md btn-danger ms-3">Reject</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="name">
                            <img src="images/dashboard/user4.jpg" class="shadow" alt="image">
                            <span>Steven Smith</span>
                        </td>
                        <td class="details">
                            <h5>The Magician Restaurant in USA</h5>
                            <ul>
                                <li>
                                    <span><i class='bx bx-map'></i> Address:</span>
                                    40 Journal Square, NG USA
                                </li>
                                <li>
                                    <span><i class='bx bx-map'></i> Booking Date:</span>
                                    17/05/2020
                                </li>
                                <li>
                                    <span><i class='bx bx-map'></i> Price:</span>
                                    $1500
                                </li>
                                <li>
                                    <span><i class='bx bx-map'></i> Persons:</span>
                                    3 Peoples
                                </li>
                                <li>
                                    <span><i class='bx bx-map'></i> Phone:</span>
                                    <a routerLink=".">+214 4455 6521</a>
                                </li>
                                <li>
                                    <span><i class='bx bx-map'></i> Email:</span>
                                    <a routerLink=".">stevensmith&#64;gmail.com</a>
                                </li>
                                <li>
                                    <span><i class='bx bx-map'></i> Payment State:</span>
                                    <strong>Paid</strong> using Paypal
                                </li>
                            </ul>
                        </td>
                        <td>
                            <a routerLink="." class="btn btn-md btn-primary">Approve</a>
                            <a routerLink="." class="btn btn-md btn-danger ms-3">Reject</a>
                        </td>
                    </tr>
                    <tr>
                        <td class="name">
                            <img src="images/dashboard/user5.jpg" class="shadow" alt="image">
                            <span>Sarah Taylor</span>
                        </td>
                        <td class="details">
                            <h5>New Oriental Shopping Center</h5>
                            <ul>
                                <li>
                                    <span><i class='bx bx-map'></i> Address:</span>
                                    55 County Laois, Ireland
                                </li>
                                <li>
                                    <span><i class='bx bx-map'></i> Booking Date:</span>
                                    10/05/2020
                                </li>
                                <li>
                                    <span><i class='bx bx-map'></i> Price:</span>
                                    $540
                                </li>
                                <li>
                                    <span><i class='bx bx-map'></i> Persons:</span>
                                    5 Peoples
                                </li>
                                <li>
                                    <span><i class='bx bx-map'></i> Phone:</span>
                                    <a routerLink=".">+214 4455 6521</a>
                                </li>
                                <li>
                                    <span><i class='bx bx-map'></i> Email:</span>
                                    <a routerLink=".">sarahtaylor&#64;gmail.com</a>
                                </li>
                                <li>
                                    <span><i class='bx bx-map'></i> Payment State:</span>
                                    <strong>Paid</strong> using Paypal
                                </li>
                            </ul>
                        </td>
                        <td>
                            <a routerLink="." class="btn btn-md btn-primary">Approve</a>
                            <a routerLink="." class="btn btn-md btn-danger ms-3">Reject</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>