<div class="register-area">
  <div class="row m-0">
    <div class="col-lg-6 col-md-12 p-0">
      <div class="register-image" style="background-image: url(images/titles/uni-1.png);">
        <img src="images/titles/uni-1.png" alt="image">
      </div>
    </div>
    <div class="col-lg-6 col-md-12 p-0">
      <div class="register-content">
        <div class="d-table">
          <div class="d-table-cell">
            <div class="register-form">
              <div class="logo">
                <a routerLink="/">
                  <img width="128px" height="64px" src="images/logo.png" alt="image">
                </a>
              </div>
              <h3>Hesap Oluştur</h3>
              <p>Zaten kayıtlı mısın? <a routerLink="/login">Giriş Yap</a></p>
              <form>
                <div class="form-group mb-3">
                  <input type="email" placeholder="Adınızı Girin" class="form-control">
                </div>
                <div class="form-group mb-3">
                  <input type="email" placeholder="E-Posta Adresinizi Girin" class="form-control">
                </div>
                <div class="form-group mb-3">
                  <input type="password" placeholder="Şifrenizi Girin" class="form-control">
                </div>
                <div class="form-group mb-3">
                  <input type="password" placeholder="Şifrenizi Onaylayın" class="form-control">
                </div>
                <button type="submit">Kayıt Ol</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
