<div class="row">
    <div class="col-xxl-3 col-md-6">
        <div class="db-stats-card-box">
            <div class="icon-box">
                <i class='bx bx-map-alt'></i>
            </div>
            <span class="sub-title">Active Listing</span>
            <h3>25</h3>
        </div>
    </div>
    <div class="col-xxl-3 col-md-6">
        <div class="db-stats-card-box">
            <div class="icon-box">
               <i class='bx bx-bar-chart-square'></i>
            </div>
            <span class="sub-title">Listing Views</span>
            <h3>1025</h3>
        </div>
    </div>
    <div class="col-xxl-3 col-md-6">
        <div class="db-stats-card-box">
            <div class="icon-box">
                <i class='bx bx-comment-dots'></i>
            </div>
            <span class="sub-title">Total Reviews</span>
            <h3>88</h3>
        </div>
    </div>
    <div class="col-xxl-3 col-md-6">
        <div class="db-stats-card-box">
            <div class="icon-box">
                <i class='bx bx-heart'></i>
            </div>
            <span class="sub-title">Total Bookmarked</span>
            <h3>700</h3>
        </div>
    </div>
</div>