<nav class="navbar glass-transparent">
  <div class="container nav-content">
    <div class="brand">
      <a routerLink="/">
        <img src="assets/unides1.png" alt="ÜNİDES Logosu" class="logo-transparent" />
      </a>
    </div>

    <ul class="nav-links">
      <li><a routerLink="/communities">Topluluklar</a></li>
      <li><a routerLink="/events">Etkinlikler</a></li>
      <li><a routerLink="/announcements">Duyurular</a></li>

      <li class="dropdown-parent">
        <a href="javascript:void(0)">Bilgi <i class="icon-arrow-down"></i></a>
        <ul class="dropdown-content">
          <li><a routerLink="/about">Hakkımızda</a></li>
          <li><a routerLink="/faq">SSS</a></li>
          <li><a routerLink="/contact">İletişim</a></li>
          <li><a routerLink="/developers">Geliştiriciler</a></li>
        </ul>
      </li>
    </ul>

    <div class="auth-buttons">
      <a routerLink="/login" class="btn-outline-custom small static-btn"><span>Giriş Yap</span></a>
      <a routerLink="/register" class="btn-solid-custom small"><span>Kayıt Ol</span></a>
    </div>
  </div>
</nav>
