<app-header />

<app-page-banner
    [pageTitle]="'About Us'"
    [backgroundImage]="'images/page-title1.jpg'"
/>

<!-- About -->
<div class="about-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <span class="sub-title">About Us</span>
                    <h2>Louise Trusted Online Directory Site in the World</h2>
                    <h6>Louise.com offers you flexible and responsive listing experience.</h6>
                    <p>With a <strong>Louise</strong> account, you get more than a business listing. Your free Business Profile lets you easily connect with customers across <strong>Louise</strong> Search and Maps.</p>
                    <p>Your customers are ready to connect – by calling, messaging, or leaving reviews. You can do more business.</p>
                    <div class="features-text">
                        <h5><i class='bx bx-planet'></i>Start managing your business profile on Louise today</h5>
                        <p>More than just a local listing, your free Business Profile lets you manage how your business appears on <strong>Louise</strong> Search.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-image">
                    <img src="images/about/img1.jpg" class="shadow" alt="image">
                    <img src="images/about/img2.jpg" class="shadow" alt="image">
                </div>
            </div>
        </div>
        <div class="about-inner-area">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-text">
                        <h3>Our Story</h3>
                        <p>When you make it easy to do business, your business grows.</p>
                        <ul class="features-list">
                            <li><i class='bx bx-check'></i> Connect and get results</li>
                            <li><i class='bx bx-check'></i> Keep customers up-to-date</li>
                            <li><i class='bx bx-check'></i> Get to know your followers</li>
                            <li><i class='bx bx-check'></i> We trust Louise</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-text">
                        <h3>Our Values</h3>
                        <p>When you make it easy to do business, your business grows.</p>
                        <ul class="features-list">
                            <li><i class='bx bx-check'></i> Learning & Support</li>
                            <li><i class='bx bx-check'></i> Claim your listing</li>
                            <li><i class='bx bx-check'></i> Find yourself</li>
                            <li><i class='bx bx-check'></i> Complete your listing profile</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-text">
                        <h3>Our Promise</h3>
                        <p>When you make it easy to do business, your business grows.</p>
                        <ul class="features-list">
                            <li><i class='bx bx-check'></i> Verify your listing</li>
                            <li><i class='bx bx-check'></i> Love listing again</li>
                            <li><i class='bx bx-check'></i> Online listing.</li>
                            <li><i class='bx bx-check'></i> Listing for all seasons</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About -->

<app-video />

<app-team />

<app-funfacts />

<app-partners />

<app-feedback />

<app-instagram />

<app-footer />