<div class="global-background"></div>

<div class="error-404-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="notfound">
                    <div class="notfound-bg">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <h1
                        style="background-image: url(images/titles/uni-1.png);"
                    >
                        Hay!
                    </h1>
                    <h3>Hata kodu 404!</h3>
                    <p>Aradığınız sayfa bulunamadı!</p>
                    <a routerLink="/" class="default-btn">Ana Sayfa</a>
                </div>
            </div>
        </div>
    </div>
</div>
