<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Unides</h3>
                    <div class="about-the-store">
                        <ul class="footer-contact-info">
                            <li><i class='bx bx-map'></i> <a href="#" target="_blank">Ön Cebeci, Kıbrıs Caddesi No:4 Kurtuluş, Kıbrıs Cd., Çankaya/Ankara</a></li>
                            <li><i class='bx bx-phone-call'></i> <a href="tel:+903125517000">(0312) 551 70 00</a></li>
                            <li><i class='bx bx-envelope'></i> <a href="mailto:info&#64;unides.com">info&#64;unides.com</a></li>
                        </ul>
                    </div>
                    <!-- <ul class="social-link">
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-pinterest-alt'></i></a></li>
                    </ul> -->
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget pl-4">
                    <h3>Hızlı Linkler</h3>
                    <ul class="quick-links">
                        <li><a routerLink="/about">Hakkımızda</a></li>
                        <li><a routerLink="/faq">SSS</a></li>
                        <li><a routerLink="/contact">İletişim</a></li>
                        <li><a routerLink="/register">Kayıt Ol</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Yardım</h3>
                    <ul class="customer-support">
                        <li><a routerLink="/login">Hesabım</a></li>
                        <li><a routerLink="/faq">SSS</a></li>
                        <li><a routerLink="/register">Kayıt Ol</a></li>
                        <li><a routerLink="/contact">Yardım & Destek</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Haberler</h3>
                    <div class="footer-newsletter-box">
                        <p>Son haberleri almak için abone olun.</p>
                        <form class="newsletter-form" data-toggle="validator">
                            <label>E-Posta:</label>
                            <input type="email" class="input-newsletter" placeholder="E-Posta Adresiniz" name="EMAIL">
                            <button type="submit">Abone Ol</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-area">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <p>Bu portal Gençlik Hizmetleri Genel Müdürlüğünce ÜNİDES Projesi kapsamında desteklenmektedir.</p>
                </div>
                <div class="col-lg-6 col-md-6">
                    <ul>
                        <li><a routerLink="/privacy-policy">Gizlilik Sözleşmesi</a></li>
                        <li><a routerLink="/terms-conditions">Kullanım Şartları</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</footer>

<!-- Back to Top -->
<div
    (click)="scrollToTop()"
    class="go-top"
    *ngIf="isShow"
>
    <i class='bx bx-chevron-up'></i>
</div>
