<div class="login-area">
  <div class="row m-0">
    <div class="col-lg-6 col-md-12 p-0">
      <div class="login-image" style="background-image: url(images/titles/uni-2.png);">
        <img src="images/titles/uni-2.png" alt="image">
      </div>
    </div>
    <div class="col-lg-6 col-md-12 p-0">
      <div class="login-content">
        <div class="d-table">
          <div class="d-table-cell">
            <div class="login-form">
              <div class="logo">
                <a routerLink="/">
                  <img width="128px" height="64px" src="images/logo.png" alt="image">
                </a>
              </div>
              <h3>Geri Gelmişsin!</h3>
              <p>Ünides'e <a routerLink="/register">Kayıt Ol</a></p>
              <form>
                <div class="form-group mb-3">
                  <input type="email" placeholder="E-Posta" class="form-control">
                </div>
                <div class="form-group mb-3">
                  <input type="password" placeholder="Şifre" class="form-control">
                </div>
                <button type="submit">Giriş Yap</button>
                <div class="forgot-password">
                  <a routerLink=".">Şifremi Unuttum?</a>
                </div>
                <div class="connect-with-social">
                  <button type="submit" class="e-devlet">
                    E-Devlet ile Bağlan
                  </button>
                  <button type="submit" class="facebook">
                    <i class='bx bxl-facebook'></i> Facebook ile Bağlan
                  </button>
                  <button type="submit" class="twitter">
                    <i class='bx bxl-twitter'></i> Twitter ile Bağlan
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
