<div class="db-recent-activities-box">
    <h3>
        Recent Activities
    </h3>
    <ul class="recent-activities-list list-unstyled mb-0 p-0">
        <li>
            <div class="icon">
                <i class='bx bx-map-alt'></i>
            </div>
            <div class="title">
                <h5>Your listing <a routerLink=".">Andro Smith</a> has been approved!</h5>
            </div>
            <div class="action">
                <p><i class='bx bx-calendar'></i> 28 April 2020</p>
                <a routerLink="." class="edit"><i class='bx bx-edit-alt'></i></a>
                <a routerLink="." class="delete"><i class='bx bx-trash'></i></a>
            </div>
        </li>
        <li>
            <div class="icon">
                <i class='bx bx-heart'></i>
            </div>
            <div class="title">
                <h5>Someone bookmarked your <a routerLink=".">Louise Home</a> listing!</h5>
            </div>
            <div class="action">
                <p><i class='bx bx-calendar'></i> 27 April 2020</p>
                <a routerLink="." class="edit"><i class='bx bx-edit-alt'></i></a>
                <a routerLink="." class="delete"><i class='bx bx-trash'></i></a>
            </div>
        </li>
        <li>
            <div class="icon">
                <i class='bx bx-map-alt'></i>
            </div>
            <div class="title">
                <h5>Your listing <a routerLink=".">Louise Home</a> has been approved!</h5>
            </div>
            <div class="action">
                <p><i class='bx bx-calendar'></i> 16 April 2020</p>
                <a routerLink="." class="edit"><i class='bx bx-edit-alt'></i></a>
                <a routerLink="." class="delete"><i class='bx bx-trash'></i></a>
            </div>
        </li>
        <li>
            <div class="icon">
                <i class='bx bx-heart'></i>
            </div>
            <div class="title">
                <h5>Someone bookmarked your <a routerLink=".">Louise Moonlight</a> listing!</h5>
            </div>
            <div class="action">
                <p><i class='bx bx-calendar'></i> 24 April 2020</p>
                <a routerLink="." class="edit"><i class='bx bx-edit-alt'></i></a>
                <a routerLink="." class="delete"><i class='bx bx-trash'></i></a>
            </div>
        </li>
        <li>
            <div class="icon">
                <i class='bx bx-star'></i>
            </div>
            <div class="title">
                <h5><a routerLink=".">Alina</a> left a review 5 Star on <a routerLink=".">Louise Home</a></h5>
            </div>
            <div class="action">
                <p><i class='bx bx-calendar'></i> 10 April 2020</p>
                <a routerLink="." class="edit"><i class='bx bx-edit-alt'></i></a>
                <a routerLink="." class="delete"><i class='bx bx-trash'></i></a>
            </div>
        </li>
        <li>
            <div class="icon">
                <i class='bx bx-check-double'></i>
            </div>
            <div class="title">
                <h5>Your listing <a routerLink=".">James Anderson</a> has been approved!</h5>
            </div>
            <div class="action">
                <p><i class='bx bx-calendar'></i> 09 April 2020</p>
                <a routerLink="." class="edit"><i class='bx bx-edit-alt'></i></a>
                <a routerLink="." class="delete"><i class='bx bx-trash'></i></a>
            </div>
        </li>
    </ul>
</div>